<style>
  body {
  position: relative;
  background-color: #012f51;
  padding: 20px;
  color: #ffffff;
  font-family: system-ui;
}

.quote-container {
  position: relative;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  max-width: 350px;
  height: 350px;
  margin: 0 auto;
  overflow: hidden;
  padding: 40px;
}

.bottom {
  position: absolute;
  min-height: 200px;
  bottom: 0;
  left: 0;
  line-height: 0;
  transform: rotate(180deg);
  width: 440px;
}

.bottom svg.curves {
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
  transform: rotateY(180deg);
}

.bottom .shape-fill {
  fill: #00b7ff;
}

.star-rating {
  color: #ff1133;
  margin: 17px 0 10px;
  font-size: 1.8em;
  text-align: center;
}

p.quote {
  margin: 15px 0;
  font-size: 1.4em;
  line-height: 1.3em;
  text-align: center;
}

.reviewer-photo {
  position: relative;
  z-index: 9;
  margin: 20px auto 10px;
  text-align: center;
}

.reviewer-photo img {
  border-radius: 50%;
  border: 6px solid #ffffff;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
}

.reviewer-details {
  position: relative;
  z-index: 9;
  text-align: center;
  color: #ffffff;
}

.reviewer-details .name {
  font-size: 20px;
  font-weight: 600;
  display: block;
  padding: 7px 0 10px 0;
}

.reviewer-details .title {
  font-size: 17px;
  font-weight: 400;
}
</style>

<center><h1>REVIEWS</h1></center>
{% for Feedback in feedbacks %}

<div class="quote-container">


  <p style="text-size:10px;" class="quote">{{Feedback.name}}</p>
    <p class="quote">{{Feedback.email}}</p>
  <p class="quote">{{Feedback.msg}}</p>





  <div class="bottom">
    <svg width="100%" height="80">
      <rect width="100%" height="80" class="shape-fill" />
    </svg>
    <svg class="curves" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 200" preserveAspectRatio="none">
      <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".35" class="shape-fill"></path>
      <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
    </svg>
  </div>

</div>
{% endfor %}